body.dark {
  background-color: #1b1c1d;
}

.ui.segment.app-wrapper {
  max-width: 500px;
  margin: auto !important;
  transform-origin: top center;
  padding-top: 0;
  padding-bottom: 0; 

  .header-wrapper {
    margin-bottom: 0;
    .header {
      margin-bottom: 0;
    }
  }

  .hint {
    margin-top: 0;
  }

  .game-grid-wrapper {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .ui.segment.app-wrapper {
    scale: 1.2;
  }
}

@media (min-height: 1100px) {
  .ui.segment.app-wrapper {
    scale: 1.5;
  }
}

.message.negative {
  position: absolute;
  left: calc(50% - 150px);
  top: 20px;
  width: 300px;
  z-index:  1;
  text-align:  center;
}

.float-right {
  float: right;
}

a.menu {
  color: black;
}